@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter";
    font-weight: 400;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #074173;
}

.seccionPrincipal{
    margin: 1%;
    width: 60%;
    height: 60%;
    gap: 24px;
}

.logo{
    gap:24px;
}

.input{
    position: relative;
    width: 50%;
    height: 40%;
    border: none;
    font-size: 32px;
    font-weight: 400;
    background-color: #074173;
}

.input::placeholder {
    color: #5DEBD7
}

.input:focus, 
.input:active{
    border: none;
    outline: none;
}

.validacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0%;
    gap: 8px;
    width: 80%;
    font-size: 12px;
    line-height: 150%;
    color: #C5FF95;
    flex:none;
}

.exclamacion { 
    width: 16px;
    height: 16px;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    gap: 24px;
}

.botonEnc{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap:8px;
    width: 25%;
    background-color: #1679AB;
    border-radius: 24px;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: white;
    border: none;
}

.botonDesen{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap:8px;
    width: 25%;
    background-color: #5DEBD7;
    border-radius: 24px;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: black;
}

.seccionSecundaria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 80%;
    background-color: #5DEBD7;
    border-radius: 24px;
    gap: 16px , 32px;
}

.mensajeEncontrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#tituloMensaje{
    font-size: 22px;
    font-weight: 600;
}

#parrafoIngrese{
    font-size: 16px;
    font-weight: 300;
}


.mensaje{
    display: flex;
    border:none;
    background-color: #5DEBD7;
    font-size: 32px;
    display: none;
}

footer {
    width: 100%;
    background-color: #5DEBD7;
    padding: 14px;
    color: #1679AB;
    text-align: center;
    font-size: 16px;
}

/* Responsive */
@media (max-width:1200px) {
    html, body {
        max-width: 100%;
        box-sizing: border-box;
        background-color: #074173;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        gap: 32px;
    }
    .seccionPrincipal{
        width: 100%;
        height: 50%;
        margin-left: 40px;
        align-items: center;
        justify-items: center;
    }

    .container{
        width: 100%;
        height: 40%;
        margin-left: 40px;
        align-items: center;
    }
    .input{
        font-size: 18px;
    }
    .validacion{
        width: 100%;
        margin-left: 40px;
        font-size: 14px;
        margin-top: auto;
    }
    .botones{
        width: 80%;
        margin-left: 40px;
    }
    .botonEnc,
    .botonDesen{
        width: 343px;
        border-radius: 16px;
        font-size: 14px;
    }
    .seccionSecundaria{
        width: 90%;
        height: 20%;
        position:sticky;
        font-size: 16px;
        align-items: center;
        justify-content: center;
    }
    #parrafoIngrese{
        font-size: 14px;
        justify-content: center;
    }
    .lupa{
        display: none
    }
    .footer{
        display: flex;
        align-items: flex-end;
    }
}